<!DOCTYPE html>
<html>
  <head>
    <title>La réponse à la grande question sur la vie, l'univers et le reste</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="/">Quelle est LA réponse ?</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        <% if is_logged_in? %>
          <li class="nav-item">
          <%= link_to "Se déconnecter", logout_path, method: :delete, class: "nav-link" %>
          </li>
          <% else %>
          <li class="nav-item">
            <a class="nav-link" href="/new">S'inscrire</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Se connecter</a>
          </li>
        <% end %>
        </ul>
      </div>
    </nav>

    <div class="col-md-6">
      <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %>
      </div>
      <% end %>

    <%= yield %>

    </div>
  </body>
</html>
